/* File name: style.css */

/* css reset */
body, header, nav, main, footer, img, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    border: 0;
    
    text-align: center;
    
    color: #f4f1de;
    background-color: #3d405b;
}

/* nav styles */
nav{
    text-align: center;
    
    border-width: 0.2em;
    border-color: #2f3e46;
    
    width: 100%;
    display: inline-block;
}
nav li{
    display: inline-block;
    list-style-type: none;
    padding: 0.2em;
}
nav ul{
    background-color: #e07a5f;
}
nav li a{
    display: block;
    color: #f4f1de;
    padding: 0.5em;
    text-decoration: none;
}

/* body styles */
a{
    text-decoration: none;
}
body{
    background-color: #cad2c5;
}
