/* File name: style.css */

/* css reset */
body, header, nav, main, footer, img, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    border: 0;
    
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    
    color: #fff;
    background-color: #333;
}

/* header styles */
header h1{
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

/* nav styles */
nav{
    text-align: center;
    border-width: 0.2em;
    
    
    width: 100%;
    display: inline-block;
    position: sticky;
}
nav li{
    float: left;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
nav li a{
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #fff;
    background-color: #111;
}

/* body styles */
header{
    top: 100px;
    padding: 3em;
    background-color: #1c1c1c;
}

a{
    text-decoration: none;
}

main {
    margin-top: 3em;
    margin-bottom: 8em;
}

p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px;
}

#reg img {
    display: inline-block;
    
    width: 75%;
    height: 150px;
    padding-bottom: 2em;
    border-radius: 20px;
}

/* Job display styles */
.job {
    text-decoration: none;
    
    margin: 0;
    float: left;
    width: 33.33%;
    padding: 15px;
    
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 250px;
    height: 200px;
    
    margin: 10px;
}

.row {
    float: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* footer styles */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    text-align: center
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #1c1c1c;
    background-color: white;
    padding: 0.4em;
    border-radius: 0.2em;
}
